body {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
}

#mainCanvas {
  height: 100%;
  width: 100%;
}

in-game-ui-top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  height: 60px;
  width: 100%;
}

in-game-map-ui {
  position: absolute;
  z-index: 999;
  top: 80px;
  left: 10px;
}

in-game-ui-bottom {
  position: absolute;
  bottom: 0;
  height: 80px;
  left: 0;
  z-index: 999;
  width: 100%;
}
